.watchListPageTitle {
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
}

.tabs {
  display: flex;
  gap: 8px;
}

.tab {
  font-size: .9rem;
  padding: 8px 12px;
  margin-bottom: 1.2rem;
}

.inactiveTab {
  opacity: 0.5;
}