.system-button {
  background-color: var(--color-primary);
  color: var(--text-color-contrast);
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.system-button:hover {
  background-color: var(--color-primary-hover);
}