@keyframes spinning {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loadingSpinner {
  font-size: inherit;
  color: inherit;
  animation: spinning 1s linear infinite;
}