.titlesList {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  justify-content: center;
  gap: 2.5rem 1rem;
}

@media screen and (min-width: 425px) {
  .titlesList {
    grid-template-columns: repeat(2, minmax(0, 250px));
  }
}

@media screen and (min-width: 768px) {
  .titlesList {
    grid-template-columns: repeat(3, minmax(0, 250px));
  } 
}

@media screen and (min-width: 1024px) {
  .titlesList {
    grid-template-columns: repeat(4, minmax(0, 250px));
  }
}